:root {
    --bs-primary: #000000 !important;             /* Color primario base */
    --bs-primary-hover: #1a1a1a !important;      /* Color primario al pasar el mouse */
    --bs-primary-active: #333333 !important;     /* Color primario cuando está activo (por ejemplo, al hacer clic) */
    --bs-primary-focus: #4d4d4d !important;      /* Color de borde al enfocarse (por ejemplo, al hacer tabulación) */
}
/* Fuente regular */
@font-face {
    font-family: 'regular';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fuente  bold*/
@font-face {
    font-family: 'bold';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fuente  black*/
@font-face {
    font-family: 'black';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'regular';
    background-color: #f5f5f5 !important;
}
.bold{
    font-family: bold;
}
.black{
    font-family: black;
}
.title_page{
    font-size: 1.6em;
}
.container {
    /* Toda la pantalla*/
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: white !important;
    border-radius: 0;
    box-shadow: none;
}

.navbar-brand {
    flex-grow: 1;
    text-align: center;
}

.nav-item a {
    font-size: 20px;
    color: #B1B1B1; /* Color gris para los íconos */
}

.nav-item a:hover {
    color: #929292; /* Un gris un poco más oscuro para el hover */
}



.form-control {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img.card-img-top {
    width: 100%;
    height: 150px; /* Puede ajustar según el tamaño deseado */
    object-fit: cover;
}

.card-body h5 {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #777;
}

.card:not(:last-child) {
    margin-bottom: 20px;
}


/* Añade espacio entre las tarjetas de categorías */
.d-flex .card:not(:last-child) {
    margin-right: 15px; /* Antes estaba en 10px, lo aumentamos un poco */
}

/* Estilo para las imágenes de las tarjetas */
.card img.card-img-top {
    height: 180px; /* Antes estaba en 150px, lo aumentamos para darle más altura */
}

/* Ajustes para el cuerpo de las tarjetas */
.card-body {
    padding: 10px 15px; /* Añadir más padding para separar el contenido de los bordes de la tarjeta */
}

/* Espaciado general */
.mt-3, .mt-4 {
    margin-top: 20px !important; 
}

/* Tarjetas de categorías */
.d-flex .card:not(:last-child) {
    margin-right: 20px; /* Aumenta el margen entre las tarjetas */
}

/* Imágenes de tarjetas */
.card img.card-img-top {
    height: 120px; /* Disminuye el tamaño para que se vean más proporcionadas */
}

/* Tarjetas de productos populares */
.card {
    margin-bottom: 20px; /* Añade más espacio entre tarjetas */
}

/* Cuerpo de las tarjetas */
.card-body {
    padding: 15px 20px; /* Aumenta el padding para separar el contenido de los bordes */
}

/* Título de productos populares */
.card-body h5 {
    font-size: 16px; /* Reduce el tamaño de la fuente */
    margin-bottom: 10px; /* Añade un espacio entre el título y la descripción */
}
/* Input de búsqueda con ícono dentro */
.search-input {
    padding-right: 40px; /* Espacio para el ícono de lupa */
    position: relative;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #B1B1B1;
    pointer-events: none;
}

/* Botón de filtro */
.filter-btn {
    background-color: #333;
    color: #fff;
}

.filter-btn:hover {
    background-color: #555;
    color: #fff;
}

/* Color de texto del título */
.navbar-brand {
    color: #333; /* Un gris oscuro para el título */
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    padding: 10px 20px; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text p, .footer-text h4 {
    margin: 0;
    font-weight: normal;
    color: #333; 
}

/* Botón */
.footer-btn {
    background-color: #333; /* Color oscuro */
    color: #fff;
    border: none;
    padding: 8px 30px; /* Mayor padding para que se vea más amplio */
    border-radius: 25px; /* Bordes más redondeados */
    font-weight: bold;
    font-size: 18px; /* Texto un poco más grande */
}

.footer-btn:hover {
    background-color: #555;
    color: #fff;
}

/* Textos */
.footer-text p {
    margin: 0;
    font-weight: normal;
    color: #aaa;  /* Gris más claro */
    font-size: 14px; /* Texto más pequeño */
}

.footer-text h4 {
    margin: 0;
    font-weight: bold;
    color: #111; /* Gris casi negro */
    font-size: 24px; /* Texto más grande */
}

/* Fondo */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Color de fondo más claro */
    z-index: 1000;
    padding: 15px 30px; /* Ajustes de padding */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil en la parte superior */
}
.fixed-navbar {
    position: fixed;
    top: 0;  /* Fijado en la parte superior */
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil en la parte inferior */
}
.fixed-top-group{
    position: fixed;
    top: 0;  /* Fijado en la parte superior */
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
.padding-after-fixed{
    padding-top: 130px;  /* Ajusta según el alto combinado de tu navbar y input-group */
}
.padding-after-fixed-bottom{
    padding-bottom: 80px;
}
.padding-fixed{
    padding-bottom: 80px;
}
.fixed-footer, .fixed-top-group {
    transition: transform 0.3s ease; /* Ajusta la duración según lo que consideres "minimalista" */
}
.card-category{
    position: relative;
    height: 100px;
    width: 200px;
}
.image-category{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.text-category {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    font-size: 1.3em;
    color: white;
}
.p-20{
    padding: 20px !important;
}
.layer-black{
    background-color: #0000007d;
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-input{
    background-color: #F7F8FC;   
        padding-left: 20px;
}
.view-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Asume que quieres una vista de altura completa, ajusta si es necesario */
}

.view {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Animación minimalista */
}

.view-1 {
    left: 0;
    transform: translateX(0);
}

.view-2 {
    left: 100%; /* Inicialmente fuera de la vista */
    transform: translateX(0);
}
.view-3 {
    left: 100%; /* Inicialmente fuera de la vista */
    transform: translateX(0);
}
.scrollable-content {
    max-height: calc(100vh);  /* Ajusta este valor según la altura que desees */
    overflow-y: auto;
    padding-right: 0;  /* Espacio para el scrollbar */
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}
.scrollable-content::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .product-detail {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}
.product-image{
    max-height: 400px;
}
.product-image img {
    width: 100%;
    height: calc(100vh / 2);
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
}
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;  /* Asegúrate de que sea un contenedor flex */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
}

.card-img-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 100%; /* Asegurarse de que la imagen cubra todo el ancho */
    max-height: 200px;
}

.card-body {
    padding: 10px 15px; 
}



.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #777;
}
.desc-category{
    font-size: .8em;
}
#categorias_content {
    display: flex;
    overflow-x: auto;
}

.card-category {
    flex: 0 0 auto; /* Esto garantiza que el elemento no crezca ni se encoja, y se mantenga en su tamaño automático */
    margin-right: 15px; 
}

.card-category:last-child {
    margin-right: 0; /* Eliminar el margen del último elemento */
}
.view{
    background-color: white;
}
/* Cambiar el color del placeholder para Chrome, Firefox y Safari */
.form-control.search-input::-webkit-input-placeholder {
    color: #BABABA;  /* reemplaza #BABABA con el color deseado */
}

.form-control.search-input:-moz-placeholder { /* Firefox 18- */
    color: #BABABA;  
    opacity:  1;  /* Firefox añade una opacidad por defecto, se sobrescribe aquí */
}

.form-control.search-input::moz-placeholder {  /* Firefox 19+ */
    color: #BABABA;
    opacity:  1;  
}

.form-control.search-input:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color: #BABABA;
}

/* Microsoft Edge */
.form-control.search-input::-ms-input-placeholder {
    color: #BABABA;
}

/* Estándar moderno (a futuro) */
.form-control.search-input::placeholder {
    color: #BABABA;
}
.skeleton-loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.skeleton-img, .skeleton-title, .skeleton-description {
    background: linear-gradient(90deg, #e0e0e0 25%, #f3f3f3 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.skeleton-img {
    width: 100%;
    height: 400px;
    max-height: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.skeleton-title, .skeleton-description {
    margin-left: 20px;
    align-self: flex-start;  /* Alineación a la izquierda */
}

.skeleton-title {
    width: 80%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-description {
    width: 90%;
    height: 15px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.skeleton-description.short {
    width: 80%;
}
.skeleton-description.small {
    width: 20%; 
}

/* Animación de shimmer (brillo) para el efecto de cargando */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.bg-custom{
    background-color: #232323!important;
    color: #F5F5F7 !important;
    padding: 6px 12px 6px 12px !important;
    font-family: bold;
    letter-spacing: 1px;
}
.ml-2{
    margin-left: .6em;
}
.form-check-input {
    margin-right: 10px;
    transform: scale(1.5);
}

.form-check-label {
    display: none; /* Hide the default label as it's not being used */
}
p {
    margin: 0;
    font-size: 16px;
    color: #555;
}
h3 .toggle-icon {
    position: absolute;
    right: 40px;
    cursor: pointer;
    color: #888;
}
.product-detail {
    position: relative;
    overflow-y: scroll; 
    height: 100vh;  
}

.product-image img {
    width: 100%;
    height: auto;
    transition: max-height 0.3s ease-out;
    height: 400px;  /* Puedes ajustar este valor según necesites */
    max-height: 400px;
}

.product-info {
    background-color: white;
    position: relative;
    z-index: 1;
}


.product-info {
    background-color: white;
    position: relative;
    z-index: 1;
    padding-bottom: 200px !important;
}
/* Estilo base para el div */
[data-cant] {
    position: relative; /* Esto permite que los elementos absolutamente posicionados dentro de este div se relacionen con él */
}

/* Estilo para el número en la esquina */
[data-cant]::before {
    content: attr(data-cant); /* Asume que tienes un atributo personalizado en el div llamado "data-qty" que contiene el número */
    position: absolute;
    top: 0;
    right: 0;
    background-color: #298929;
    color: white; /* Color del número */
    padding: 5px 15px; /* Espacio alrededor del número */
    border-bottom-left-radius: 15px; /* Redondeo para que se vea bien en la esquina */
    font-weight: bold;
    z-index: 1;
}

/* Estilos adicionales para asegurarte de que el número sea siempre visible */
[data-cant]::before {
    white-space: nowrap; /* Asegura que el número no se envuelva a la línea siguiente */
    text-align: center; /* Centra el número horizontalmente */
}
#address-input {
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-light{
    border: .5px solid #dcdcdc;
}
.modal-slide-up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}
.hide-modal{
    transform: translateY(100%) !important;
}
.modal-content {
    background: #fff;
    padding: 30px 40px 20px 30px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.modal-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.icon-container::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: calc(100% + 10px);
    background: linear-gradient(to bottom, green, rgba(0,255,0,0.5), rgba(0,255,0,0.2));
    z-index: -1;
}

.text-gray {
    color: gray;
}

.text-black {
    color: black;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-continue, .btn-edit {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn-continue {
    background: green;
    color: white;
}

.btn-edit {
    background: #f2f2f2;
}
