:root {
    --bs-primary: #000000 !important;             /* Color primario base */
    --bs-primary-hover: #1a1a1a !important;      /* Color primario al pasar el mouse */
    --bs-primary-active: #333333 !important;     /* Color primario cuando está activo (por ejemplo, al hacer clic) */
    --bs-primary-focus: #4d4d4d !important;      /* Color de borde al enfocarse (por ejemplo, al hacer tabulación) */
}
/* Fuente regular */
@font-face {
    font-family: 'regular';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fuente  bold*/
@font-face {
    font-family: 'bold';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fuente  black*/
@font-face {
    font-family: 'black';  /* nombre arbitrario para la fuente */
    src: url('/app/assets/fonts/black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'regular';
    background-color: #f5f5f5 !important;
}
.bold{
    font-family: bold;
}
.black{
    font-family: black;
}
.title_page{
    font-size: 1.6em;
}
.container {
    /* Toda la pantalla*/
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: white !important;
    border-radius: 0;
    box-shadow: none;
}

.navbar-brand {
    flex-grow: 1;
    text-align: center;
}

.nav-item a {
    font-size: 20px;
    color: #B1B1B1; /* Color gris para los íconos */
}

.nav-item a:hover {
    color: #929292; /* Un gris un poco más oscuro para el hover */
}



.form-control {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img.card-img-top {
    width: 100%;
    height: 150px; /* Puede ajustar según el tamaño deseado */
    object-fit: cover;
}

.card-body h5 {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #777;
}

/* Input de búsqueda con ícono dentro */
.search-input {
    padding-right: 40px; /* Espacio para el ícono de lupa */
    position: relative;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #B1B1B1;
    pointer-events: none;
}

/* Botón de filtro */
.filter-btn {
    background-color: #333;
    color: #fff;
}

.filter-btn:hover {
    background-color: #4e4e4e;
    color: #fff;
}

/* Color de texto del título */
.navbar-brand {
    color: #333; /* Un gris oscuro para el título */
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    padding: 10px 20px; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text p, .footer-text h4 {
    margin: 0;
    font-weight: normal;
    color: #333; 
}

/* Botón */
.footer-btn {
    background-color: #333; /* Color oscuro */
    color: #fff;
    border: none;
    padding: 8px 30px; /* Mayor padding para que se vea más amplio */
    border-radius: 25px; /* Bordes más redondeados */
    font-weight: bold;
    font-size: 18px; /* Texto un poco más grande */
}

.footer-btn:hover {
    background-color: #4e4e4e;
    color: #fff;
}

/* Textos */
.footer-text p {
    margin: 0;
    font-weight: normal;
    color: #aaa;  /* Gris más claro */
    font-size: 14px; /* Texto más pequeño */
}

.footer-text h4 {
    margin: 0;
    font-weight: bold;
    color: #111; /* Gris casi negro */
    font-size: 24px; /* Texto más grande */
}

/* Fondo */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Color de fondo más claro */
    z-index: 1000;
    padding: 15px 30px; /* Ajustes de padding */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil en la parte superior */
}
.fixed-navbar {
    position: fixed;
    top: 0;  /* Fijado en la parte superior */
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil en la parte inferior */
}
.fixed-top-group{
    position: fixed;
    top: 0;  /* Fijado en la parte superior */
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
.padding-after-fixed{
    padding-top: 130px;  /* Ajusta según el alto combinado de tu navbar y input-group */
}
.padding-after-fixed-bottom{
    padding-bottom: 80px;
}
.padding-fixed{
    padding-bottom: 80px;
}
.fixed-footer, .fixed-top-group {
    transition: transform 0.3s ease; /* Ajusta la duración según lo que consideres "minimalista" */
}
.card-category{
    position: relative;
    height: 100px;
    width: 200px;
}
.image-category{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.text-category {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    font-size: 1.3em;
    color: white;
}
.p-20{
    padding: 20px !important;
}
.layer-black{
    background-color: #0000007d;
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-input{
    background-color: #F7F8FC;   
        padding-left: 20px;
}
.view-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Asume que quieres una vista de altura completa, ajusta si es necesario */
}

.view {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Animación minimalista */
}
.view {
    left: 100%; /* Inicialmente fuera de la vista */
    transform: translateX(0);
}
.view-1 {
    left: 0;
    transform: translateX(0);
}
.scrollable-content {
    max-height: calc(100vh);  /* Ajusta este valor según la altura que desees */
    overflow-y: auto;
    padding-right: 0;  /* Espacio para el scrollbar */
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}
.scrollable-content::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .product-detail {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}
.product-image{
    max-height: 400px;
}
.product-image img {
    width: 100%;
    height: calc(100vh / 2);
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
}
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;  /* Asegúrate de que sea un contenedor flex */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
}

.card-img-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 100%; /* Asegurarse de que la imagen cubra todo el ancho */
    max-height: 200px;
}

.card-body {
    padding: 10px 15px; 
}



.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #777;
}
.desc-category{
    font-size: .8em;
}
#categorias_content {
    display: flex;
    overflow-x: auto;
}

.card-category {
    flex: 0 0 auto; /* Esto garantiza que el elemento no crezca ni se encoja, y se mantenga en su tamaño automático */
    margin-right: 15px; 
}

.card-category:last-child {
    margin-right: 0; /* Eliminar el margen del último elemento */
}
.view{
    background-color: white;
}
/* Cambiar el color del placeholder para Chrome, Firefox y Safari */
.form-control.search-input::-webkit-input-placeholder {
    color: #BABABA;  /* reemplaza #BABABA con el color deseado */
}

.form-control.search-input:-moz-placeholder { /* Firefox 18- */
    color: #BABABA;  
    opacity:  1;  /* Firefox añade una opacidad por defecto, se sobrescribe aquí */
}

.form-control.search-input::moz-placeholder {  /* Firefox 19+ */
    color: #BABABA;
    opacity:  1;  
}

.form-control.search-input:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color: #BABABA;
}

/* Microsoft Edge */
.form-control.search-input::-ms-input-placeholder {
    color: #BABABA;
}

/* Estándar moderno (a futuro) */
.form-control.search-input::placeholder {
    color: #BABABA;
}
.skeleton-loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.skeleton-img, .skeleton-title, .skeleton-description {
    background: linear-gradient(90deg, #e0e0e0 25%, #f3f3f3 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.skeleton-img {
    width: 100%;
    height: 400px;
    max-height: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.skeleton-title, .skeleton-description {
    margin-left: 20px;
    align-self: flex-start;  /* Alineación a la izquierda */
}

.skeleton-title {
    width: 80%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-description {
    width: 90%;
    height: 15px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.skeleton-description.short {
    width: 80%;
}
.skeleton-description.small {
    width: 20%; 
}

/* Animación de shimmer (brillo) para el efecto de cargando */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.bg-custom{
    background-color: #232323!important;
    color: #F5F5F7 !important;
    padding: 6px 12px 6px 12px !important;
    font-family: bold;
    letter-spacing: 1px;
}
.ml-2{
    margin-left: .6em;
}
.form-check-input {
    margin-right: 10px;
    transform: scale(1.5);
}

.form-check-label {
    display: none; /* Hide the default label as it's not being used */
}
p {
    margin: 0;
    font-size: 16px;
    color: #4e4e4e;
}
h3 .toggle-icon {
    position: absolute;
    right: 40px;
    cursor: pointer;
    color: #888;
}
.product-detail {
    position: relative;
    overflow-y: scroll; 
    height: 100vh;  
}

.product-image img {
    width: 100%;
    height: auto;
    transition: max-height 0.3s ease-out;
    height: 400px;  /* Puedes ajustar este valor según necesites */
    max-height: 400px;
}

.product-info {
    background-color: white;
    position: relative;
    z-index: 1;
}


.product-info {
    background-color: white;
    position: relative;
    z-index: 1;
    padding-bottom: 200px !important;
}
/* Estilo base para el div */
[data-cant] {
    position: relative; /* Esto permite que los elementos absolutamente posicionados dentro de este div se relacionen con él */
}

/* Estilo para el número en la esquina */
[data-cant]::before {
    content: attr(data-cant); /* Asume que tienes un atributo personalizado en el div llamado "data-qty" que contiene el número */
    position: absolute;
    top: 0;
    right: 0;
    background-color: #298929;
    color: white; /* Color del número */
    padding: 5px 15px; /* Espacio alrededor del número */
    border-bottom-left-radius: 15px; /* Redondeo para que se vea bien en la esquina */
    font-weight: bold;
    z-index: 1;
}

/* Estilos adicionales para asegurarte de que el número sea siempre visible */
[data-cant]::before {
    white-space: nowrap; /* Asegura que el número no se envuelva a la línea siguiente */
    text-align: center; /* Centra el número horizontalmente */
}
#address-input {
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-light{
    border: .5px solid #dcdcdc;
}
.modal-slide-up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}
.hide-modal{
    transform: translateY(100%) !important;
}
.modal-content {
    background: #fff;
    padding: 30px 40px 20px 30px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.modal-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.icon-container::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: calc(100% + 10px);
    background: linear-gradient(to bottom, green, rgba(0,255,0,0.5), rgba(0,255,0,0.2));
    z-index: -1;
}

.text-#4e4e4e {
    color: #4e4e4e;
}

.text-black {
    color: black;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-continue, .btn-edit {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn-continue {
    background: green;
    color: white;
}

.btn-edit {
    background: #f2f2f2;
}
/* Estilos generales para el contenedor móvil */
.mobile-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    height: calc(100vh / 100 * 60); /* Ajusta según el porcentaje de altura que desees */
    overflow-y: scroll;
}
.total_preview{
    height: 100%;
    /* centrar los elementos verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-checkout{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 20px 0 20px;
    height: calc(100vh / 100 * 40); /* Ajusta según el porcentaje de altura que desees */
    /* justificar hacia abajo */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}
/* Encabezado del carrito */
.cart-title {
    font-weight: bold;
}

.back-btn,
.remove-btn {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

/* Estilos para los productos */
.product-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.product-img img {
    width: 50px;
    height: auto;
}

.product-details h6 {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.product-details p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.quantity-control .qty-input {
    width: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin: 0 5px;
}

.product-price {
    font-weight: bold;
}

/* Sección del código promocional */
.promo-code-input {
    flex: 1;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
}

.apply-btn {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

/* Resumen del total */
.total-summary .summary-label {
    font-size: 0.9em;
}

.total-summary .summary-value {
    font-weight: bold;
}

/* Botón de pago */
.proceed-btn {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}
.card {
    position: relative; 
    cursor: pointer;
    transition: all 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Añadimos transiciones suaves para varios elementos */
    border: 1px solid transparent; 
}

.card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon-circular {
    background-color: #FFF6ED;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto; 
}

.icon-circular i {
    font-size: 24px;
}

/* Estilo para la card activa */
.card.active {
    background-color: #FAFAFA; 
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); 
    border-color: #FF953F; 
}

.card.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 4px;
    background-color: #FF953F;
    border-radius: 2px;
    transition: width 0.3s ease, height 0.3s ease; /* Animación suave para el indicador inferior */
}
.total_preview {
    font-family: Arial, sans-serif; /* Puedes cambiar esto según la tipografía que prefieras. */
    text-align: center; /* Alinear todo al centro. */
    padding: 10px; /* Espaciado alrededor del contenedor. */
}

.tt_preview {
    font-size: small; /* Hace que "Total" se muestre en un tamaño más pequeño. */
    margin-bottom: 5px; /* Espaciado entre "Total" y el precio. */
    font-size: 1em;
    margin-bottom: 5px;
    font-family: 'bold';
    color: #4e4e4e;
}

#total_preview {
    display: block;
    font-size: 3em;
    font-weight: bold;
}

.integers {
    color: #1a1a1a; /* El color del precio sin decimales. */
}

.decimals {
    color: #4e4e4e; /* El color de los decimales. */
    font-size: inherit; /* Asegura que los decimales tengan el mismo tamaño que el precio. */
}

.payment_method {
    font-size: small; /* Hace que el texto de método de pago sea más pequeño. */
    color: #4e4e4e; /* Color del texto del método de pago. */
    margin-top: 10px; /* Espaciado entre el precio y el método de pago. */
}

.fa-lock {
    color: green; /* Color del icono de candado. */
}

#change {
    font-size: small;
    margin-top: 10px;
    color: #007bff;
}

#change i {
    margin-right: 5px; /* Espaciado a la derecha del icono de edición. */
}
.loader-container{
    position: relative;
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}
.loader-container{
    left: 0;
    top: 0;
}
.loader-container svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    fill: #0404040f;
}
.container_price{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;

}

.circular-bg {
    fill: none;
    stroke: #e5e5e5;  /* Color de fondo */
    stroke-width: 2;  /* Nota el aumento en el grosor de trazo del fondo */
    stroke-dashoffset: 0;
    
}

.circular-progress{
    fill: none;
    stroke: white;    /* Color inicial del progreso */
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    stroke-width: 2;  /* Grosor de trazo del progreso, menor que el fondo */
}

.total_preview.active .circular-progress{
    animation: progress 5s ease-in-out forwards;
    stroke: #007bff;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

@keyframes progress {
    15% {
        stroke-dashoffset: 250;
        stroke: #007bff;
    }
    30% {
        stroke-dashoffset: 190;
        stroke: #007bff;
    }
    45% {
        stroke-dashoffset: 100;
        stroke: #007bff;
    }
    80% {
        stroke-dashoffset: 70;
        stroke: #007bff;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: green;
    }
}