<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Inicio</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Inicio</a>
            </li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Ventas totales</h6>
                                <h3 class="mb-2 number-font">$1,200</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-primary">
                                        <i class="fa fa-chevron-circle-up text-primary me-1"></i>
                                        3%</span>
                                    ultimo mes
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
                                    <i class="fe fe-trending-up text-white mb-5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Productos vendidos</h6>
                                <h3 class="mb-2 number-font">56,992</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-secondary">
                                        <i class="fa fa-chevron-circle-up text-secondary me-1"></i>
                                        3%</span>
                                    ultimo mes
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-danger-gradient box-shadow-danger brround ms-auto">
                                    <i class="icon icon-rocket text-white mb-5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Productos vistos</h6>
                                <h3 class="mb-2 number-font">42,567</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-success">
                                        <i class="fa fa-chevron-circle-down text-success me-1"></i>
                                        0.5%</span>
                                    ultimo mes
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">
                                    <i class="fe fe-dollar-sign text-white mb-5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Vistas a la página</h6>
                                <h3 class="mb-2 number-font">34,789</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-danger">
                                        <i class="fa fa-chevron-circle-down text-danger me-1"></i>
                                        0.2%</span>
                                    ultimo més
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-success-gradient box-shadow-success brround ms-auto">
                                    <i class="fe fe-briefcase text-white mb-5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Total de ventas Octubre/Noviembre</h3>
            </div>
            <div class="card-body pb-0">
                <div id="chartArea" class="chart-donut"></div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title">Ordenes</h3>
            </div>
            <div class="card-body pt-0 ps-0 pe-0">
                <div id="recentorders" class="apex-charts ht-150"></div>
                <div class="row sales-product-infomation pb-0 mb-0 mx-auto wd-100p mt-6">
                    <div class="col-md-6 col justify-content-center text-center">
                        <p class="mb-0 d-flex justify-content-center">
                            <span class="legend bg-primary"></span>Competadas
                        </p>
                        <h3 class="mb-1 fw-bold">5238</h3>
                        <div class="d-flex justify-content-center">
                            <p class="text-muted mb-0">Ultimo mes</p>
                        </div>
                    </div>
                    <div class="col-md-6 col text-center float-end">
                        <p class="mb-0 d-flex justify-content-center">
                            <span class="legend bg-background2"></span>Canceladas
                        </p>
                        <h3 class="mb-1 fw-bold">3467</h3>
                        <div class="d-flex justify-content-center">
                            <p class="text-muted mb-0">Ultimo mes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>
<!-- ROW-1 END -->

<!-- ROW-3 -->
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fw-semibold">Browser Usage</h4>
            </div>
            <div class="card-body pt-2 pb-2">
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-chrome bg-secondary-gradient text-white me-2"></i>
                        <p class="fs-16 my-auto mb-0">Chrome</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">35,502</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>12.75%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-opera text-white bg-danger-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Opera</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">12,563</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>15.12%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-firefox text-white bg-purple-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">IE</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">25,364</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>24.37%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-edge text-white bg-info-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Firefox</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">14,635</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>15,63%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-android text-white bg-success-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Android</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">15,453</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>23.70%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fw-semibold">Country views</h4>
            </div>
            <div class="card-body pt-2 pb-2">
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-chrome bg-secondary-gradient text-white me-2"></i>
                        <p class="fs-16 my-auto mb-0">Chrome</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">35,502</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>12.75%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-opera text-white bg-danger-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Opera</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">12,563</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>15.12%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-firefox text-white bg-purple-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">IE</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">25,364</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>24.37%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-edge text-white bg-info-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Firefox</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">14,635</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>15,63%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-android text-white bg-success-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Android</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">15,453</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>23.70%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fw-semibold">Category sells</h4>
            </div>
            <div class="card-body pt-2 pb-2">
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-chrome bg-secondary-gradient text-white me-2"></i>
                        <p class="fs-16 my-auto mb-0">Chrome</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">35,502</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>12.75%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-opera text-white bg-danger-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Opera</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">12,563</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>15.12%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-firefox text-white bg-purple-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">IE</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">25,364</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>24.37%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-edge text-white bg-info-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Firefox</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">14,635</span>
                            <span class="text-success fs-15">
                                <i class="fe fe-arrow-up"></i>15,63%</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center browser-stats">
                    <div class="d-flex me-1">
                        <i class="fa fa-android text-white bg-success-gradient me-2"></i>
                        <p class="fs-16 my-auto mb-0">Android</p>
                    </div>
                    <div class="ms-auto my-auto">
                        <div class="d-flex">
                            <span class="my-auto fs-16">15,453</span>
                            <span class="text-danger fs-15">
                                <i class="fe fe-arrow-down"></i>23.70%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COL END -->
<!-- ROW-3 END -->

<!-- ROW-5 END -->
